body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.login-container, .welcome-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.error {
    color: red;
}
